@charset "utf-8";
/* CSS Document */

#thumbs {
	list-style: none outside none; /* On supprime le style de la liste par défaut */
	padding: 0;
}
 
/* Page */

#thumbs li {
	display: inline-block;  
	position: relative;
	
}
 
#thumbs li img {
	border-radius: 10px 10px 10px 10px;
	border: 5px solid #fff;
	transition: transform 0.25s ease-in-out;
	-moz-transition: -moz-transform 0.25s ease-in-out;
	-o-transition: -o-transform 0.25s ease-in-out;
	-webkit-transition: -webkit-transform 0.25s ease-in-out;
	/*transform: scale(0.75);  On réduit l'image à 75% 
	-moz-transform: scale(0.75);
	-o-transform: scale(0.75);
	-webkit-transform: scale(0.75);*/
}

#thumbs:hover li img {
	/*opacity: 0.3;
	
	 Au survol de la galerie, toute les images auront une opacité de 50% */

}

#thumbs li:hover{
  z-index : 10 ; 
}

#thumbs li:hover img {
	opacity: 1; /* L'image survolée aura une opacité de 100% */
	z-index: 100;
	transform: scale(2); /* On affiche l'image à sa taille normale */
	-moz-transform: scale(2);
	-o-transform: scale(2);
	-webkit-transform: scale(2);
	box-shadow: 1px 1px 10px #000; /* On ajoute une ombre */
	-moz-box-shadow: 1px 1px 10px #000;
	-o-box-shadow: 1px 1px 10px #000;
	-webkit-box-shadow: 1px 1px 10px #000;
}