
*.sublime-project
*.sublime-workspace

.tmp
.sass-cache
node_modules
!gulp/node_modules

bower_components
npm-debug.log

index.html
!sources/index.html
!sources/**/index.html
!gulp/**/index.html
!demo/**/index.html
