body 
    forestBackground()

.cv
    box-shadow none

/*
.card,
section
    background rgba(255,255,255,0.5)
    */

.cv section
    //margin-top 38px
    padding: 1em 1em 2em 2em;

.cv header
    padding 0
