

.cv
    font-family : calibri, Helvetica, arial, freesans, clean, sans-serif
    color : #444
    font-size : 11pt



.quote
    font-style : italic
    font-family : Verdana
    font-size : 0.95em

    text-align : justify

    background : #f0f0f0

    border-left : solid 6pt #888

    color : #000

h1
    font-size : 1.2em

.phone 
    font-family : consolas 

.name
    font-weight : bold
    font-size : 1.1em
.subsection-label,
.title
    font-weight : bold

.subject
    color : #333

    &:before
        content : '\0A0\0A0'

.info
    font-size : 0.85em
    font-style : italic
    font-color : #666

.at
    font-size : 1em
    font-family : Helvetica
    color : #000
    text-decoration : none


.printable
    .section-content
        padding-top 0.1em
        padding-bottom 0.1em
        padding-left : calc( 2em  )


