
@import "main"
@import "works"
@import "const"

body
	forestBackground()



.slide
	
	col(1)
	/*
	padding-top 30px
	padding-bottom 30px
	*/
	min-height 320px
	height 60%

	margin-bottom  20px

	overflow  hidden
	position relative

	&:last-child
		margin-bottom  0


	.slide-background
		position absolute
		top 0


.slide.home-ban
	min-height 320px
	height 40%

.ban
	
	height 100%
	width 100%

	box-shadow: 0px -10px 25px -10px #333 inset;

	canvas#1kdragon
		width 100%
		height 100%

.slide.main
	overflow  visible
	min-height none	
	height auto



avatarSize = 230px

.main-column
	position relative
	center(  1200px )
	padding-top avatarSize * 0.7

.content
	center(  800px ,  50px )

.row-avatar
	position absolute
	left  0
	top ( - avatarSize /2 )


.avatar
	width avatarSize
	height avatarSize
	background  url('assets/images/pic.png')
	background-size  95%
	background-repeat no-repeat
	background-position  ( @width * ( 100 - @background-size) / 200 ) ( @height * ( 100 - @background-size) / 200 )
	/*border-radius 10px
	border solid 10px pulseGreen*/

	margin-left 10px


@media screen and (max-width: 520px)
	.row-avatar
		left calc( ( 100% - 230px )/2 );


.link-bar
	display flex
	flex-wrap wrap
	flex-direction row
	justify-content space-around
	align-items center
	align-content center

	.button
		flex-grow 0
		flex-shrink 0