
body
    transition background 500ms ease

#quote.hidden,
#illu.hidden
    display none

#illu
    background-image url("/build/assets/images/pic.png");
    background-size contain;
    background-repeat no-repeat;
    width 400px
    height 400px

    position absolute
    z-index 10
    right -30px
    top -60px

body.cool
    forestBackground()

    .resume
        box-shadow none
        position relative
        max-width 900px
        margin-top 60px

    

    .card,
    .section-content
        background rgba( 161 , 173 , 95 , 0.6 )
        border-radius 20px 20px 20px 0
        border none

    .card
        max-width 320px
        padding-left 2em
    

    .resume header,
    .resume section
        padding: 1em 1em 2em 2em


    h1
        font-size 2.2em
        line-height 1em

    .name
        font-size 2.2em
        margin-bottom 1em

    .xp-section li,
    .training-section li,
    li.subsection-1
        list-style-type none
        padding 5px
        padding-left 2em
        position relative
        /* left: -2em; */
        list-style none
        background-image url("/build/assets/images/sapin.png")
        background-repeat no-repeat
        background-position 0 0.4em
        background-size 1.1em 1.2em

    .tag-cloud span
        color : #333 !important
