.grid-tile-large 

    .work-illu-group,
    .work-content-shrinked
        display none

    .work
        display flex
        flex-direction column
        align-items center
        justify-content stretch
        align-content stretch

        border-bottom-width 1px

    header
        height 320px
        width 100%

    .work-illu.work-illu-skewed
        perspective 1000px
        height 100%

        div
            width 120%
            height 130%
            background-size cover
            background-repeat no-repeat
            transform rotateZ(3deg) rotateY(13deg) translate3d(0px,-10%,0px)

        &:hover
            perspective 1000px

            div
                transform rotateZ(3deg) rotateY(13deg) translate3d(0px,-10%,0px)

    nav
        /* flex 2 1 20% */
        min-width 70px
        flex 0 1 20%
        display inline-block

    .work-content-long
        display inline-block

    .work-illu-secondary-group
        height 100%
        display block

        


.work-main
    display flex
    flex-direction row
    flex-flow space-between
    align-items stretch
    align-content stretch
    width 100%

.work-illu.work-illu-secondary
    width  60px
    height 60px
    margin 5px
    background-size cover
    background-position center


.work-title
    font-family "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif
    font-size 23px