
miniatureSize = 60px



.grid-tile-large

    .work-illu-group,
    .work-content-shrinked
        display none

    .work
        display flex
        flex-direction column
        align-items center
        justify-content stretch
        align-content stretch

        /* border-bottom-width 1px */

    header
        height 320px
        width 100%

    .work-illu.work-illu-skewed
        perspective 1000px
        height 100%

        div
            width 120%
            height 130%
            background-size cover
            background-repeat no-repeat
            transform rotateZ(3deg) rotateY(13deg) translate3d(0px,-10%,0px)

        &:hover
            perspective 1000px

            div
                transform rotateZ(3deg) rotateY(13deg) translate3d(0px,-10%,0px)


        /*
        margin 5px 0 5px 5px
        leftArrow( 2px , 8px )

        &:hover
            leftArrow( 2px , 14px )
            &:after
                right -6px
                border-width 6
                top calc( 20% + 8px)

        */




    .work-main

        display inline-block

        display flex
        flex-direction row

        align-items stretch

        align-content stretch
        flex-wrap nowrap

        width 100%
        overflow hidden

        user-select none

        min-height 420px


.work-nav
    min-width miniatureSize + 10px
    max-width 20%
    background-color #efefef
    flex-grow 999999

    padding-bottom 28px
    padding-top 18px


    display flex
    flex-direction column
    flex-wrap nowrap
    justify-content space-between
    align-items stretch

.work-illu-panel
    position absolute
    top 0
    bottom 0
    display flex
    align-items center

    flex-direction column
    padding 5px
    /* box-shadow 0 0 8px 0px rgba(175, 175, 175, 0.62) inset */

.work-illu-primar.work-illu

    height 100%


    div
        background-size contain
        background-repeat no-repeat
        background-position center
        background-color #eee

.work-illu-caption

    flex 0 1 1.4em
    font-size 0.9em
    font-style italic
    font-family "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif


.work-content-wrapper
    width 80%
    max-width 80%
    display inline-block
    transition width 1000ms ease
    overflow hidden
    cursor pointer
    z-index 2
    background #fff
    &.dragged
        transition none

.work-illu-panel-wrapper
    flex-grow 1
    overflow hidden
    width 0
    position relative
        z-index: 1;

.illu-displayed
    .work-content-wrapper
        width 50px


.work-illu.work-illu-secondary
    width  miniatureSize
    height miniatureSize
    margin 5px
    background-size cover
    background-position center
    background-color #ccc
    cursor pointer

.work-illu-secondary-group
    display flex
    align-content flex-start
    justify-content flex-start
    flex-direction row
    flex-wrap wrap


.work-content-long
    width 100%

.work-title
    font-family "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif
    font-size 23px


/* nav  */

.link

    margin-left 18px
    height 2em
    a
        height 1.2em
        display inline-block
        border-bottom solid 1px #888
        color #888
        text-decoration none
        font-family helvetica,Geneva,Verdana,sans-serif



        &:hover
            color #000
            border-bottom-color #333
            border-bottom-width 2px
            height 1.4em

            transition height 230ms ease

.work-nav
    .link
        transition transform 300ms ease
        transform translate3d( -200px , 0 ,0)

        for n in 1 2 3 4 5 6
            &:nth-child( {n} )
                transition-delay (380+(n*100))ms

.grid-tile.grid-tile-large-opened .work-nav .link
        transform translate3d(0,0,0)
