.work-illu
    display inline-block
    position relative
    width 100%
    height 65%
    overflow hidden

    div
        background-size cover
        background-position center
        width 100%
        height 100%
    
    &.work-illu-skewed
        perspective 220px
        transition perspective 400ms ease-in-out
        div
            transform rotateZ(3deg) rotateY(13deg) translate3d(0px,-10%,0px)
            transition transform 400ms ease-in-out

            transform-style preserve-3d
            width 130%
            height 130%
        /*
        &:before
            transform: none;
            z-index 0
            content ''
            position absolute
            display block
            width 100%
            height 100%
            background-image  linear-gradient( 
                0deg ,
                rgba( 255,255,255 , 1 ) 0% ,
                rgba( 255,255,255 , 0.2 ) 100%
            )
            box-shadow 0 0 5px 0px #333 inset
        */
        &:hover
            perspective 150px
            div 
                transform rotateZ(3deg) rotateY(13deg) translate3d(-30px,-10%,0px) scale(1.1,1.1)

/*
.grid-tile-large 
    .work-illu.work-illu-skewed
        height 35px

        
        &.work-illu-skewed
            perspective 1020px
            div 
                transform rotateZ(1deg) rotateY(12deg) translate3d(0px,0px,0px) scale(1.2,1.4)
            &:hover
                perspective 1020px
                div 
                    transform rotateZ(1deg) rotateY(12deg) translate3d(0px,0px,0px) scale(1.2,1.4)
*/