
miniatureSize = 60px

leftArrow( borderSize=2px, arrowSize=20px )
        
    position relative
    border-right solid borderSize

    &:before
    &:after
        content ''
        position absolute
        border-top solid arrowSize transparent
        border-bottom solid arrowSize transparent
        border-left solid arrowSize
        position absolute
        width 1px
        height 1px
        right (- (arrowSize+borderSize ))
        top 20%
        transition border 300ms , right 300ms , top 300ms

    &:after
        border-left-color #fff
        right (- (arrowSize ))



.grid-tile-large 

    .work-illu-group,
    .work-content-shrinked
        display none

    .work
        display flex
        flex-direction column
        align-items center
        justify-content stretch
        align-content stretch

        /* border-bottom-width 1px */

    header
        height 320px
        width 100%

    .work-illu.work-illu-skewed
        perspective 1000px
        height 100%

        div
            width 120%
            height 130%
            background-size cover
            background-repeat no-repeat
            transform rotateZ(3deg) rotateY(13deg) translate3d(0px,-10%,0px)

        &:hover
            perspective 1000px

            div
                transform rotateZ(3deg) rotateY(13deg) translate3d(0px,-10%,0px)
        

        /*
        margin 5px 0 5px 5px
        leftArrow( 2px , 8px )

        &:hover
            leftArrow( 2px , 14px )
            &:after
                right -6px
                border-width 6
                top calc( 20% + 8px)

        */
 

    

    .work-main
        
        display inline-block
        
        display flex
        flex-direction row
        
        align-items stretch

        align-content stretch
        flex-wrap nowrap
        
        width 100%
        overflow hidden

        min-height 420px


nav
    min-width miniatureSize + 10px
    max-width 20%
    background-color #eee

    display flex
    flex-direction column
    flex-wrap nowrap
    justify-content space-between
    align-items stretch

    &:before
        content ''

.work-illu-panel
    background-color #fff
    /* box-shadow 0 0 8px 0px rgba(175, 175, 175, 0.62) inset */

.work-illu-primar.work-illu
    height 100%
    padding 5px
    div
        background-size contain
        background-repeat no-repeat
        background-position center


.work-content-wrapper
    width 80%
    display inline-block
    transition width 1000ms
    overflow hidden
    &.dragged
        transition none

.work-illu-panel-wrapper
    flex-grow 1
    overflow hidden
    width 0

.illu-displayed 
    .work-content-wrapper
        width 50px


.work-illu.work-illu-secondary
    width  miniatureSize
    height miniatureSize
    margin 5px
    background-size cover
    background-position center
    background-color #ccc

.work-illu-secondary-group
    display flex
    align-content flex-start
    justify-content flex-start
    flex-direction row
    flex-wrap wrap
    white-space normal


.work-content-long
    width 100%

.work-title
    font-family "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif
    font-size 23px

