
ul.grid
    position relative
    list-style none
    padding 0

    li.grid-tile
        margin 0
        padding 0
        position absolute
        width 33%

.work-list

    center( 800px , 50px )

    .work
        float left
        cursor pointer
        display block
        position relative
        width 100%
        


section.work
    background-color  rgba(33,33,33,0.1)
    margin 12px
    padding 4px


