<html>
<link rel="stylesheet" href="resume.css" ></link>

<body version="{{build}}">

<image src="http://platane-me-dynamic-content.herokuapp.com/tracking/resume-land.png" style="display:none"></img>

<div class="resume">
		<header class="header" data-z="-30">
		{{#header}}
			<div id="contact" class="card brick">
				<span class="name">{{firstName}} {{lastName}}</span>
				<span class="age">{{age}} years old</span>

				{{#mail}}
				<span>
					<span class="icon icon-mail"></span>
					<a class="mail" href="mailto:{{mail}}">{{mail}}</a>
				</span>
				{{/mail}}


				{{#portefolio}}
				<span>
					<span class="icon icon-portefolio"></span>
					<a class="portefolio" href="{{portefolio@}}">{{portefolio}}</a>
				</span>
				{{/portefolio}}

				{{#phone}}
				<span>
					<span class="icon icon-phone"></span>
					<span class="phone">{{phone}}</span>
				</span>
				{{/phone}}
			</div>
			<div id="quote" class="quote hidden">{{bio}}</div>
			<div id="illu" class="avatar brick" data-z="50"></div>
		{{/header}}
		</header>

		<section id="training" class="training-section brick" data-z="10">
			<h1 class="section-label">Training</h1>
			<div class="section-content">
				<ul class="list">
					{{#training}}
					<li class="training">
						<span class="title">{{title}}</span>
						<span>&nbsp;at&nbsp;</span>
						<span class="at" href="{{@at}}">{{at}}</span>
						<span>&nbsp;in&nbsp;</span>
						<span class="localisation">{{localisation}}</span>
						<span class="when">{{{when}}}</span>
						<div class="info">{{sub title}}</div>
					</li>
					{{/training}}
				</ul>
			</div>
		</section>


		<section id="exp" class="xp-section brick" data-z="-20">
			<h1 class="section-label">Experiences</h1>
			<div class="section-content">
				<ul class="list">
					{{#xp}}
					<li class="xp">
						<span class="title">{{title}}</span>
						<span>&nbsp;in&nbsp;</span>
						<a class="at" href="{{at@}}">{{at}}</a>
						<span class="when">{{{when}}}</span>
						<div>
							<span class="subject">{{subject}}</span>
							<span class="info">{{info}}</span>
						</div>
					</li>
					{{/xp}}
				</ul>
			</div>
		</section>


		<section id="skill" class="skills-section brick" data-z="10">
			<h1 class="section-label">Skills</h1>
			<div class="section-content">
				{{{skillCloud}}}
				<ul class="list">
					{{#literal skills}}

					<li class="subsection subsection-1">
						<span class="subsection-label">{{subsection}}</span>
						<ul>
							{{#s}}
							<li class="skill">
								<span class="title">{{title}}</span>
								<span class="subject">{{subject}}</span>
								<span class="info">{{info}}</span>
							</li>
							{{/s}}
						</ul>
					</li>
					{{/literal skills}}
				</ul>
			</div>
		</section>


		<section id="hobby" class="hobbies-section brick" data-z="-30">
			<h1 class="section-label">Hobbies</h1>
			<div class="section-content">
				<ul class="list">
					{{#hobbies}}

					<li class="subsection subsection-1">
						<span class="subsection-label">{{subsection}}</span>
						<ul>
							{{#s}}
							<li class="skill">
								<span class="title">{{title}}</span>
								<span class="subject">{{subject}}</span>
								<span class="info">{{info}}</span>
							</li>
							{{/s}}
						</ul>
					</li>
					{{/hobbies}}
				</ul>
			</div>
		</section>
</div>







<style>
#UI{
	font-family: consolas,arial,freesans,clean,sans-serif;
	font-size:12px;
	position : fixed;
	top : 10%;
	right : 15px;
	border-left: solid 5px rgba(102, 126, 42, 0.39);
	z-index: 100;
}
#UI ul{
	padding-left: 0;
}
#UI li{
	padding: 0;
	margin: 0;
}
@media print{
	#UI{
		display: none;
	}
}

</style>



<div id="UI" class="UI">
	<ul>
		<li data->
			<input type="radio" name="style" value="cool" checked="checked"></input> cool
		</li>
		<li>
			<input type="radio" name="style" value="classy"></input> classy
		</li>
		<li>
			<input type="radio" name="style" value="printable"></input> printable classy
		</li>
	</ul>
</div>

<!-- fixed Fonzie -->
<a class="fonzie" href="/demos/deconstruction/deconstruction.html" target="_blank">
	<span>You think it's cool? <br>Click me if you want real fun</span>
</a>


<script type="text/javascript" src="domHelper.js"></script>
<script type="text/javascript">

var dom = DomHelper

;(function(){
var ui = document.getElementById("UI")

var resume = document.querySelector('.resume')
var body = document.getElementsByTagName('body')[0]

var prepare = {
	cool : function(){
		body.className = 'cool'

		dom.addClass( body , 'cool' )
		dom.addClass( resume.querySelector('.quote') , 'hidden' )
		dom.removeClass( resume.querySelector('.avatar') , 'hidden' )
	},
	classy : function(){

	},
	printable : function(){
		//add class
		resume.className += " printable"


		// force scale in order to fit in one page
		var w = resume.offsetWidth,
			h = resume.offsetHeight

		var ratio = 21 / 29.7
		//var ratio = 21 / 27

		if( h > w / ratio ){

			var s = (w / ratio) / h

			var transform = 'translate( 0 , ' + ( - h * ( 1 - s )/2 )  + 'px)  scale(' +  s  + ')'

			resume.style.webkitTransform = resume.style.transform = transform
		}
	},
}
var finish = {
	cool : function(){
		dom.removeClass( body , 'cool' )
		dom.removeClass( resume.querySelector('.quote') , 'hidden' )
		dom.addClass( resume.querySelector('.avatar') , 'hidden' )
	},
	classy : function(){

	},
	printable : function(){
		// remove class
		resume.className = 'resume'

		// unscale
		resume.style.webkitTransform = resume.style.transform = ''
	},
}

var previous = "cool"
var is = ui.querySelectorAll('input')
for(var i=is.length;i--;)
	is[i].addEventListener('change',function(e){

		finish[ previous ]()

		prepare[ previous = this.value ]()

	},false)

prepare.cool();

})()


//////////////////
//// Fonzie //////
//////////////////
;(function(){

var fonzie = document.querySelector('.fonzie')

fonzie.addEventListener('mouseenter',function(e){
	fonzie.className = 'fonzie visible'
},false)


window.onscroll = function ( ) {

	if( document.getElementsByTagName('html')[0].offsetHeight - ( window.innerHeight + window.pageYOffset ) < 120 )
		fonzie.className = 'fonzie visible'
	else
		if( dom.hasClass( fonzie , 'visible' ) )
			fonzie.className = 'fonzie hidden'
}

window.onscroll()

})()


</script>


</body>
</html>
