<html>
<link rel="stylesheet" href="works.css" ></link>

<body version="{{build}}">


<ul class="work-list grid">

	{{#works}}
	<li id="{{id}}" class="grid-tile work-wrap">
		<article id="{{id}}" class="work" style="height:{{height}}px;background-color:{{darkColor}};">

			<header class="work-illu work-illu-main work-illu-skewed" >
				<div style="background-image:url('assets/works-illustrations/{{illustration-main}}');"></div>
			</header>
			
			<section class="work-content work-content-shrinked">
				<span class="work-title">{{title}}</span>
				<div class="markdowned">
					{{{shrink-sum-up}}}
				</div>
			</section>



			<section class="work-content work-content-long">

				<nav>
					<div class="work-illu-secondary-group">
						{{#illustration-second}}
							<div data-image="assets/works-illustrations/{{.}}" alt="{{caption}}" class="work-illu work-illu-secondary" style="background-image:url('assets/works-illustrations/{{.}}');"></div>
						{{/illustration-second}}
					</div>

					<section class="work-content-links">
					{{#links}}
						<a class="link {{#type}}link-{{type}}{{/type}}" href="{{url}}">{{label}}</a>
					{{/links}}
					</section>
				</nav>


				<section class="work-content-sum-up">
					<span class="work-title">{{title}}</span>

					<div class="markdowned">
						{{{sum-up}}}
					</div>
				</section>
				
			</section>

		</article>
	</li>
	{{/works}}







</ul>
</body>

<script type="text/javascript" src="gridLayout.js"></script>
<script type="text/javascript" src="workBrowser.js"></script>

</html>
