<html>
<link rel="stylesheet" href="works.css" ></link>

<body version="{{build}}">


<ul class="work-list grid">

	{{#works}}
	<li id="{{id}}" class="grid-tile work-wrap">
		<article id="{{id}}" class="work" data-from="{{from}}" data-to="{{to}}" data-rank="{{rank}}" style="height:{{height}}px;/*border-color:{{darkColor}};*/border-color:rgb(57, 121, 27);">

			<header>
				<div class="work-illu work-illu-main work-illu-skewed" >
					<div style="background-image:url('assets/works-illustrations/{{illustration-main.url}}');"></div>
				</div>
			</header>
			
			<section class="work-content work-content-shrinked">
				<span class="work-title">{{title}}</span>
				<div class="markdowned">
					{{{shrink-sum-up}}}
				</div>
			</section>



			<section class="work-main">

				<nav class="work-nav" style="border-color:{{darkColor}};">

						<ul class="work-illu-secondary-group">
							{{#illustration-second}}
								<li data-image="assets/works-illustrations/{{url}}" data-caption="{{caption}}" alt="{{caption}}" class="work-illu work-illu-secondary" style="background-image:url('assets/works-illustrations/{{url}}');"></li>
							{{/illustration-second}}
						</ul>

						<ul class="work-links">
						{{#links}}
							<li class="link {{#type}}link-{{type}}{{/type}}">
								<a href="{{url}}">{{label}}</a>
							</li>
						{{/links}}
						</ul>
				</nav><div class="work-illu-panel-wrapper">
					<section class="work-illu-panel">
						<div class="work-illu work-illu-primar" >
							<div></div>
						</div>
						<div class="work-illu-caption"></div>
					</section>
				</div><div class="work-content-wrapper">
				<section class="work-content work-content-long">
					<span class="work-title">{{title}}</span>

					<div class="markdowned">
						{{{sum-up}}}
					</div>
				</section>
				</div>

			</section>

		</article>
	</li>
	{{/works}}







</ul>
</body>

<script type="text/javascript" src="domHelper.js"></script>
<script type="text/javascript" src="gridLayout.js"></script>
<script type="text/javascript" src="works-largen-actions.js"></script>
<script type="text/javascript" src="content-illustration-actions.js"></script>

</html>
